@model List<Contact>

@{
    ViewData["Title"] = "Contacts";
}

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Married</th>
            <th scope="col">Phone</th>
            <th scope="col">Salary</th>
            <th scope="col">Created date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<ul id="invalid-state" style="color: red">

</ul>